HELP.md
target/
!**/src/main/**
!**/src/test/**

# Node
*.log
npm-debug.log
node_modules

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.devcontainer/

# OS
.DS_Store
thumbs.db

# Eclipse
.classpath
.project
.settings
